openapi: 3.0.0
host: "hub-gateway.ethermail.io"
schemes:
  - "https"
paths:
  /v1/analytics/stats:
    get:
      operationId: AnalyticsController_getStats
      parameters: []
      responses:
        '200':
          description: Returns system-wide kpis for admin Dashboard.
      tags:
        - analytics
      security:
        - bearer: []
  /v1/tenants:
    post:
      operationId: TenantsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequestDto'
      responses:
        '201':
          description: Returns the newly created Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTenantResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - tenants
      security:
        - bearer: []
    get:
      operationId: TenantsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Tenants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/access-keys:
    get:
      operationId: TenantsController_getAccessKeys
      parameters: []
      responses:
        '200':
          description: Returns the tenants access keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeysResponseDto'
      tags:
        - tenants
      security:
        - bearer: []
    post:
      operationId: TenantsController_generateAccessKeys
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageAccessKeysRequestDto'
      responses:
        '200':
          description: Returns the newly generated access keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeysResponseDto'
        '201':
          description: ''
        '403':
          description: This action is not permitted.
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/options:
    get:
      operationId: TenantsController_getFormOptions
      parameters: []
      responses:
        '200':
          description: Returns options used in the tenant form.
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/stats:
    get:
      operationId: TenantsController_getStats
      parameters: []
      responses:
        '200':
          description: Returns Tenant stats (kpis).
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/{id}/resend-welcome-email:
    get:
      operationId: TenantsController_sendWelcomeEmail
      parameters: []
      responses:
        '204':
          description: Resent the welcome email to the tenant.
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/{id}:
    get:
      operationId: TenantsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDto'
        '404':
          description: The tenant was not found.
      tags:
        - tenants
      security:
        - bearer: []
    patch:
      operationId: TenantsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequestDto'
      responses:
        '204':
          description: Saved changes to the tenant.
      tags:
        - tenants
      security:
        - bearer: []
    delete:
      operationId: TenantsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the tenant.
      tags:
        - tenants
      security:
        - bearer: []
  /v1/tenants/{id}/settings:
    patch:
      operationId: TenantsController_updateSettings
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantSettingsDto'
      responses:
        '204':
          description: Update tenant settings.
      tags:
        - tenants
      security:
        - bearer: []
  /v1/users:
    post:
      operationId: UsersController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequestDto'
      responses:
        '201':
          description: Returns the newly created User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - users
      security:
        - bearer: []
    get:
      operationId: UsersController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - users
      security:
        - bearer: []
  /v1/users/{id}:
    get:
      operationId: UsersController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested User.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: The User was not found.
      tags:
        - users
      security:
        - bearer: []
    patch:
      operationId: UsersController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequestDto'
      responses:
        '204':
          description: Saved changes to the user profile.
      tags:
        - users
      security:
        - bearer: []
    delete:
      operationId: UsersController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the user.
      tags:
        - users
      security:
        - bearer: []
  /v1/users/change-password:
    patch:
      operationId: UsersController_changePassword
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordDto'
      responses:
        '200':
          description: Returns a success message if the password is successfully changed.
      tags:
        - users
      security:
        - bearer: []
  /v1/users/change-email:
    post:
      operationId: UsersController_changeEmail
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmailDto'
      responses:
        '200':
          description: >-
            Returns a success message if the email address is successfully
            changed.
        '201':
          description: ''
      tags:
        - users
      security:
        - bearer: []
  /v1/users/{id}/send-confirmation-email:
    patch:
      operationId: UsersController_sendConfirmEmail
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendConfirmEmailRequestDto'
      responses:
        '200':
          description: ''
        '201':
          description: Resent the confirmation email to the user.
      tags:
        - users
      security:
        - bearer: []
  /v1/contacts:
    post:
      operationId: ContactsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequestDto'
      responses:
        '201':
          description: Returns the newly created Contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - contacts
      security:
        - bearer: []
    get:
      operationId: ContactsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
        - name: listId
          required: false
          in: query
          schema:
            type: string
        - name: exportCsv
          required: false
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Returns a list (page) of Contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - contacts
      security:
        - bearer: []
    delete:
      operationId: ContactsController_bulkRemove
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteContactsRequestDto'
      responses:
        '204':
          description: Deleted the Contacts.
      tags:
        - contacts
      security:
        - bearer: []
  /v1/contacts/import:
    post:
      operationId: ContactsController_import
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - contacts
      security:
        - bearer: []
  /v1/contacts/sync:
    post:
      operationId: ContactsController_addToSyncBuffer
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - contacts
      security:
        - bearer: []
  /v1/contacts/subscriptions/{walletAddress}:
    get:
      operationId: ContactsController_findAllUserSubscriptions
      parameters:
        - name: walletAddress
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns a list of subscriptions for the user
          content:
            application/json:
              schema:
                type: array
      tags:
        - contacts
      security:
        - bearer: []
  /v1/contacts/{id}:
    get:
      operationId: ContactsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
        '404':
          description: The contact was not found.
      tags:
        - contacts
      security:
        - bearer: []
    patch:
      operationId: ContactsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequestDto'
      responses:
        '204':
          description: Saved changes to the Contact.
      tags:
        - contacts
      security:
        - bearer: []
    delete:
      operationId: ContactsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Contact.
      tags:
        - contacts
      security:
        - bearer: []
  /v1/subscription:
    post:
      operationId: SubscriptionController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequestDto'
      responses:
        '204':
          description: ''
        '403':
          description: This action is not permitted.
      tags:
        - subscription
  /v1/templates:
    post:
      operationId: TemplatesController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequestDto'
      responses:
        '201':
          description: Returns the newly created Template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplateResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - templates
      security:
        - bearer: []
    get:
      operationId: TemplatesController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - templates
      security:
        - bearer: []
  /v1/templates/{id}/duplicate:
    get:
      operationId: TemplatesController_clone
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Duplicates a Template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplateResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - templates
      security:
        - bearer: []
  /v1/templates/{id}:
    get:
      operationId: TemplatesController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDto'
        '404':
          description: The Template was not found.
      tags:
        - templates
      security:
        - bearer: []
    patch:
      operationId: TemplatesController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequestDto'
      responses:
        '204':
          description: Saved changes to the Template.
      tags:
        - templates
      security:
        - bearer: []
    delete:
      operationId: TemplatesController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Template.
      tags:
        - templates
      security:
        - bearer: []
  /v1/templates/{id}/shared:
    patch:
      operationId: TemplatesController_shared
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Share/Unshare the template.
      tags:
        - templates
      security:
        - bearer: []
  /v1/emails:
    post:
      operationId: EmailsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailRequestDto'
      responses:
        '201':
          description: Returns the newly created Email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmailResponseDto'
      tags:
        - emails
      security:
        - bearer: []
    get:
      operationId: EmailsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Emails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/send-dynamic-ad:
    post:
      operationId: EmailsController_sendDynamicAd
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDynamicAdDto'
      responses:
        '201':
          description: Sends the current active ad to an ethermail user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendDynamicAdDto'
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{tenantId}/exclusive-emails:
    get:
      operationId: EmailsController_findExclusiveEmails
      parameters:
        - name: tenantId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns first 3 emails for the tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/stats:
    get:
      operationId: EmailsController_getStats
      parameters: []
      responses:
        '200':
          description: Returns stats (kpis) for a group of Emails.
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/queued:
    get:
      operationId: EmailsController_findAdvertisingEmailsQueued
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list of email users.
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/logs:
    get:
      operationId: EmailsController_findLogs
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Email logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/calculate-recipients:
    get:
      operationId: EmailsController_calculateRecipients
      parameters:
        - name: segmentIds
          required: true
          in: query
          description: Segment IDs
          schema:
            default: []
            type: array
            items:
              type: string
        - name: listIds
          required: true
          in: query
          description: List IDs
          schema:
            default: []
            type: array
            items:
              type: string
      responses:
        '200':
          description: Returns the number of recipients for the email.
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{id}:
    get:
      operationId: EmailsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDto'
        '404':
          description: The email was not found.
      tags:
        - emails
      security:
        - bearer: []
    patch:
      operationId: EmailsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailRequestDto'
      responses:
        '204':
          description: Saved changes to the Email.
      tags:
        - emails
      security:
        - bearer: []
    delete:
      operationId: EmailsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Email.
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/generate:
    post:
      operationId: EmailsController_generateEmailContent
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateEmailDto'
      responses:
        '200':
          description: Generate email content from a url using AI
        '201':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/send-test:
    post:
      operationId: EmailsController_sendEmail
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTestEmailDto'
      responses:
        '200':
          description: Send a test email.
        '201':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_log_id}/track-open:
    get:
      operationId: EmailsController_trackOpen
      parameters:
        - name: email_log_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_log_id}/track-click/{index}:
    get:
      operationId: EmailsController_trackClick
      parameters:
        - name: email_log_id
          required: true
          in: path
          schema:
            type: string
        - name: index
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_log_id}/unsubscribe:
    get:
      operationId: EmailsController_unsubscribe
      parameters:
        - name: email_log_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/unsubscribe-user:
    post:
      operationId: EmailsController_unsubscribeUserFromEmail
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustEmailsQueueRequestDto'
      responses:
        '201':
          description: >-
            Unsubscribes user from all emails that are not being sent yet -
            delete user from advertising emails queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustEmailsQueueRequestDto'
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/add-user-to-queue:
    post:
      operationId: EmailsController_addNewUserToEmailsQueue
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustEmailsQueueRequestDto'
      responses:
        '201':
          description: >-
            When a new user is created, he will be added to the advertising
            email queue
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/pause:
    post:
      operationId: EmailsController_pauseEmailSending
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '201':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/restart-sending:
    post:
      operationId: EmailsController_restartEmailSending
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '201':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/submit-new-inventory:
    post:
      operationId: EmailsController_updateInventory
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailRequestDto'
      responses:
        '201':
          description: ''
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/dynamicAd:
    get:
      operationId: EmailsController_getDynamicAd
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/create-dynamic-ad:
    post:
      operationId: EmailsController_createDynamicAd
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
        - emails
      security:
        - bearer: []
  /v1/emails/{email_id}/update-dynamic-ad:
    post:
      operationId: EmailsController_updateDynamicAd
      parameters:
        - name: email_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
        - emails
      security:
        - bearer: []
  /v1/exports/{id}:
    get:
      operationId: ExportsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the export job status.
        '404':
          description: The export job was not found.
      tags:
        - exports
      security:
        - bearer: []
  /v1/transactional-emails:
    post:
      operationId: TransactionalEmailsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionalEmailLogRequestDto'
      responses:
        '201':
          description: Send a transactional Email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionalEmailLogResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - transactional-emails
      security:
        - bearer: []
    get:
      operationId: TransactionalEmailsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Transactional Email logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - transactional-emails
      security:
        - bearer: []
  /v1/transactional-emails/stats:
    get:
      operationId: TransactionalEmailsController_getStats
      parameters: []
      responses:
        '200':
          description: Returns stats (kpis) for a group of Transactional Emails.
      tags:
        - transactional-emails
      security:
        - bearer: []
  /v1/transactional-emails/{id}:
    get:
      operationId: TransactionalEmailsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Transactional Email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalEmailLogDto'
        '404':
          description: The transactional email was not found.
      tags:
        - transactional-emails
      security:
        - bearer: []
  /v1/transactional-emails/{transactional_email_log_id}/track-open:
    get:
      operationId: TransactionalEmailsController_trackOpen
      parameters:
        - name: transactional_email_log_id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - transactional-emails
      security:
        - bearer: []
  /v1/transactional-emails/{transactional_email_log_id}/track-click/{index}:
    get:
      operationId: TransactionalEmailsController_trackClick
      parameters:
        - name: transactional_email_log_id
          required: true
          in: path
          schema:
            type: string
        - name: index
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: ''
      tags:
        - transactional-emails
      security:
        - bearer: []
  /v1/advertising/targeting-options:
    get:
      operationId: AdvertisingController_getTargetingFilterOptions
      parameters: []
      responses:
        '200':
          description: Returns options used in the advertising email targeting rules.
      tags:
        - advertising
      security:
        - bearer: []
  /v1/advertising/calculate-reach:
    post:
      operationId: AdvertisingController_calculateReach
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateReachRequestDto'
      responses:
        '201':
          description: Returns estimated reach for a target audience.
        '403':
          description: This action is not permitted.
      tags:
        - advertising
      security:
        - bearer: []
  /v1/advertising/kpis:
    get:
      operationId: AdvertisingController_getKpis
      parameters: []
      responses:
        '200':
          description: Returns the kpis from mongo for a specific campaign, by subject.
      tags:
        - advertising
      security:
        - bearer: []
  /v1/advertising/update-kpis:
    post:
      operationId: AdvertisingController_updateKpis
      parameters: []
      responses:
        '201':
          description: ''
      tags:
        - advertising
      security:
        - bearer: []
  /v1/advertising/active-dynamic-ads:
    get:
      operationId: AdvertisingController_getActiveDynamicAds
      parameters: []
      responses:
        '200':
          description: ''
      tags:
        - advertising
      security:
        - bearer: []
  /v1/segments:
    post:
      operationId: SegmentsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSegmentRequestDto'
      responses:
        '201':
          description: Returns the newly created Segment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSegmentResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - segments
      security:
        - bearer: []
    get:
      operationId: SegmentsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Segments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - segments
      security:
        - bearer: []
  /v1/segments/{id}:
    get:
      operationId: SegmentsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Segment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDto'
        '404':
          description: The Segment was not found.
      tags:
        - segments
      security:
        - bearer: []
    patch:
      operationId: SegmentsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentRequestDto'
      responses:
        '204':
          description: Saved changes to the segment.
      tags:
        - segments
      security:
        - bearer: []
    delete:
      operationId: SegmentsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the segment.
      tags:
        - segments
      security:
        - bearer: []
  /v1/lists:
    post:
      operationId: ListsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListRequestDto'
      responses:
        '201':
          description: Returns the newly created List.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateListResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - lists
      security:
        - bearer: []
    get:
      operationId: ListsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Lists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - lists
      security:
        - bearer: []
  /v1/lists/{id}:
    get:
      operationId: ListsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested List.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDto'
        '404':
          description: The List was not found.
      tags:
        - lists
      security:
        - bearer: []
    patch:
      operationId: ListsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListRequestDto'
      responses:
        '204':
          description: Saved changes to the List.
      tags:
        - lists
      security:
        - bearer: []
    delete:
      operationId: ListsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the list.
      tags:
        - lists
      security:
        - bearer: []
  /v1/lists/{id}/contacts:
    patch:
      operationId: ListsController_addContactsToList
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToListRequestDto'
      responses:
        '204':
          description: Successfully added contacts to List.
      tags:
        - lists
      security:
        - bearer: []
    delete:
      operationId: ListsController_removeContactsFromList
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToListRequestDto'
      responses:
        '200':
          description: ''
        '204':
          description: Successfully removed contacts from List.
      tags:
        - lists
      security:
        - bearer: []
  /v1/automations:
    post:
      operationId: AutomationsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationRequestDto'
      responses:
        '201':
          description: Returns the newly created Automation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAutomationResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - automations
      security:
        - bearer: []
    get:
      operationId: AutomationsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Automations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - automations
      security:
        - bearer: []
  /v1/automations/stats:
    get:
      operationId: AutomationsController_getStats
      parameters: []
      responses:
        '200':
          description: Returns stats (kpis) for a group of Automations.
      tags:
        - automations
      security:
        - bearer: []
  /v1/automations/{id}:
    get:
      operationId: AutomationsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Automation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationDto'
        '404':
          description: The automation was not found.
      tags:
        - automations
      security:
        - bearer: []
    patch:
      operationId: AutomationsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationRequestDto'
      responses:
        '204':
          description: Saved changes to the Automation.
      tags:
        - automations
      security:
        - bearer: []
    delete:
      operationId: AutomationsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Automation.
      tags:
        - automations
      security:
        - bearer: []
  /v1/automations/{id}/status:
    patch:
      operationId: AutomationsController_status
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Set Automation status (active or paused).
      tags:
        - automations
      security:
        - bearer: []
  /v1/custom-domains:
    post:
      operationId: CustomDomainsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequestDto'
      responses:
        '201':
          description: Returns the newly created Custom Domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomDomainResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - custom-domains
      security:
        - bearer: []
    get:
      operationId: CustomDomainsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Custom Domains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - custom-domains
      security:
        - bearer: []
  /v1/custom-domains/{id}/instructions:
    get:
      operationId: CustomDomainsController_getDnsInstructions
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the DNS instructions for the Custom Domain.
        '404':
          description: The custom domain was not found.
      tags:
        - custom-domains
      security:
        - bearer: []
  /v1/custom-domains/{id}/verify:
    get:
      operationId: CustomDomainsController_verify
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the verification status of the Custom Domain.
        '404':
          description: The custom domain was not found.
      tags:
        - custom-domains
      security:
        - bearer: []
  /v1/custom-domains/{id}:
    get:
      operationId: CustomDomainsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Custom Domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainDto'
        '404':
          description: The custom domain was not found.
      tags:
        - custom-domains
      security:
        - bearer: []
    delete:
      operationId: CustomDomainsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Custom Domain.
      tags:
        - custom-domains
      security:
        - bearer: []
  /v1/smart-contracts:
    post:
      operationId: SmartContractsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmartContractRequestDto'
      responses:
        '201':
          description: Returns the newly created Smart Contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSmartContractResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - smart-contracts
      security:
        - bearer: []
    get:
      operationId: SmartContractsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Smart Contracts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - smart-contracts
      security:
        - bearer: []
  /v1/smart-contracts/{id}:
    get:
      operationId: SmartContractsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Smart Contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractDto'
        '404':
          description: The Smart Contract was not found.
      tags:
        - smart-contracts
      security:
        - bearer: []
    delete:
      operationId: SmartContractsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the smart contract.
      tags:
        - smart-contracts
      security:
        - bearer: []
  /v1/smart-contracts/{id}/status:
    patch:
      operationId: SmartContractsController_status
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Set Smart contract autoimport status (active or paused).
      tags:
        - smart-contracts
      security:
        - bearer: []
  /v1/custom-attributes:
    post:
      operationId: CustomAttributesController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomAttributeRequestDto'
      responses:
        '201':
          description: Returns the newly created Custom Attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomAttributeResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - custom-attributes
      security:
        - bearer: []
    get:
      operationId: CustomAttributesController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Custom Attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - custom-attributes
      security:
        - bearer: []
  /v1/custom-attributes/{id}:
    get:
      operationId: CustomAttributesController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Custom Attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttributeDto'
        '404':
          description: The Custom Attribute was not found.
      tags:
        - custom-attributes
      security:
        - bearer: []
    patch:
      operationId: CustomAttributesController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomAttributeRequestDto'
      responses:
        '204':
          description: Saved changes to the Custom Attribute.
      tags:
        - custom-attributes
      security:
        - bearer: []
    delete:
      operationId: CustomAttributesController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the Custom Attribute.
      tags:
        - custom-attributes
      security:
        - bearer: []
  /v1/plans:
    post:
      operationId: PlansController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequestDto'
      responses:
        '201':
          description: Returns the newly created Plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlanResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - plans
      security:
        - bearer: []
    get:
      operationId: PlansController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Plans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - plans
      security:
        - bearer: []
  /v1/plans/{id}:
    get:
      operationId: PlansController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDto'
        '404':
          description: The Plan was not found.
      tags:
        - plans
      security:
        - bearer: []
    patch:
      operationId: PlansController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequestDto'
      responses:
        '204':
          description: Saved changes to the plan profile.
      tags:
        - plans
      security:
        - bearer: []
    delete:
      operationId: PlansController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the plan.
      tags:
        - plans
      security:
        - bearer: []
  /v1/files/s3-presigned-url:
    post:
      operationId: FilesController_generateS3PresignedUrl
      parameters: []
      responses:
        '200':
          description: Generates a presigned URL for uploading a file to S3.
        '201':
          description: ''
      tags:
        - files
      security:
        - bearer: []
  /v1/files:
    get:
      operationId: FilesController_listS3Files
      parameters: []
      responses:
        '200':
          description: List files in an S3 bucket.
      tags:
        - files
      security:
        - bearer: []
    delete:
      operationId: FilesController_deleteS3File
      parameters: []
      responses:
        '200':
          description: Deletes a file from the S3 bucket for a specific user.
      tags:
        - files
      security:
        - bearer: []
  /v1/communities:
    get:
      operationId: CommunitiesController_findById
      parameters: []
      responses:
        '200':
          description: Returns the tenants Community page details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityDto'
        '404':
          description: The Community was not found.
      tags:
        - communities
      security:
        - bearer: []
  /v1/communities/{id}:
    patch:
      operationId: CommunitiesController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunityRequestDto'
      responses:
        '204':
          description: Saved changes to the community profile.
      tags:
        - communities
      security:
        - bearer: []
  /v1/widgets:
    post:
      operationId: WidgetsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWidgetRequestDto'
      responses:
        '201':
          description: Returns the newly created Widget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetResponseDto'
      tags:
        - widgets
      security:
        - bearer: []
    get:
      operationId: WidgetsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Widgets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - widgets
      security:
        - bearer: []
  /v1/widgets/{id}:
    get:
      operationId: WidgetsController_find
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns a widget by id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDto'
      tags:
        - widgets
      security:
        - bearer: []
    delete:
      operationId: WidgetsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the widget.
      tags:
        - widgets
      security:
        - bearer: []
  /v1/billing/pricing-grid:
    get:
      operationId: BillingController_getPricingGrid
      parameters: []
      responses:
        '200':
          description: Returns the pricing grid options
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/invoices:
    get:
      operationId: BillingController_getInvoices
      parameters: []
      responses:
        '200':
          description: Returns a list of invoices for the tenant
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/quotas:
    get:
      operationId: BillingController_getQuotas
      parameters: []
      responses:
        '200':
          description: Returns quotas for the tenant
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/checkout/{priceId}:
    post:
      operationId: BillingController_startCheckout
      parameters:
        - name: priceId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Starts a stripe checkout flow
        '201':
          description: ''
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/change-summary/{planId}:
    get:
      operationId: BillingController_changeSummary
      parameters:
        - name: planId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Obtain a billing summary before switching to a new plan.
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/change/{planId}:
    get:
      operationId: BillingController_changePlan
      parameters:
        - name: planId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Switch to a new plan.
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/cancel-downgrade:
    post:
      operationId: BillingController_cancelDowngrade
      parameters: []
      responses:
        '200':
          description: Cancel a pending downgrade.
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/access-portal:
    post:
      operationId: BillingController_accessPortal
      parameters: []
      responses:
        '200':
          description: Redirect user to stripe billing portal
        '201':
          description: ''
      tags:
        - billing
      security:
        - bearer: []
  /v1/billing/process-events:
    post:
      operationId: BillingController_processEvents
      parameters: []
      responses:
        '200':
          description: Listens for stripe webhook events
        '201':
          description: ''
      tags:
        - billing
      security:
        - bearer: []
  /v1/applets:
    post:
      operationId: AppletsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppletRequestDto'
      responses:
        '201':
          description: Returns the newly created Applet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAppletResponseDto'
        '403':
          description: This action is not permitted.
      tags:
        - applets
      security:
        - bearer: []
    get:
      operationId: AppletsController_findAll
      parameters:
        - name: page
          required: false
          in: query
          description: Page number
          schema:
            type: number
        - name: perPage
          required: false
          in: query
          description: Number of items per page
          schema:
            type: number
        - name: sortField
          required: false
          in: query
          description: Field to sort by
          schema:
            type: string
        - name: filterField
          required: false
          in: query
          description: Field to filter by
          schema:
            type: string
        - name: filterValue
          required: false
          in: query
          description: Value to filter by
          schema:
            type: string
        - name: dateRange
          required: false
          in: query
          description: Date range to search for
          schema:
            enum:
              - all_time
              - this_week
              - last_week
              - this_month
              - last_month
              - this_quarter
              - last_quarter
              - this_year
              - last_year
            type: string
        - name: searchString
          required: false
          in: query
          description: Value to search for
          schema:
            type: string
      responses:
        '200':
          description: Returns a list (page) of Applets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pageableResponse'
      tags:
        - applets
      security:
        - bearer: []
  /v1/applets/{id}:
    get:
      operationId: AppletsController_findById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Returns the requested Applet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppletDto'
        '404':
          description: The Applet was not found.
      tags:
        - applets
      security:
        - bearer: []
    patch:
      operationId: AppletsController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppletRequestDto'
      responses:
        '204':
          description: Saved changes to the applet.
      tags:
        - applets
      security:
        - bearer: []
    delete:
      operationId: AppletsController_remove
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Deleted the applet.
      tags:
        - applets
      security:
        - bearer: []
  /v1/auth/login:
    post:
      operationId: AuthController_signIn
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDto'
      responses:
        '200':
          description: >-
            Returns a session JWT for the authenticated user along with the user
            object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDto'
        '201':
          description: ''
      tags:
        - auth
  /v1/auth/verify:
    post:
      operationId: AuthController_verify
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestDto'
      responses:
        '200':
          description: Returns the decoded access token if it's valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseDto'
        '201':
          description: ''
      tags:
        - auth
  /v1/auth/impersonate:
    post:
      operationId: AuthController_impersonate
      parameters: []
      responses:
        '200':
          description: Returns the decoded access token if it's valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseDto'
        '201':
          description: ''
      tags:
        - auth
  /v1/auth/reset-password:
    post:
      operationId: AuthController_resetPassword
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequestDto'
      responses:
        '200':
          description: Send a password reset link.
        '201':
          description: ''
      tags:
        - auth
  /v1/auth/set-new-password:
    post:
      operationId: AuthController_setNewPassword
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewPasswordRequestDto'
      responses:
        '200':
          description: Set a new password.
        '201':
          description: ''
      tags:
        - auth
info:
  title: EtherMail EMS API
  description: API for EtherMail Enterprise Mail Solution
  version: '1.0'
  contact: {}
tags: []
servers: []
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: JWT
      description: Enter JWT token
      in: header
    api_key:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    ObjectId:
      type: object
      properties: {}
    CreateTenantRequestDto:
      type: object
      properties:
        admin_first_name:
          type: string
          description: The admins first name.
          example: John
          minLength: 2
        admin_last_name:
          type: string
          description: The admins last name.
          example: Doe
          minLength: 2
        admin_email:
          type: string
          description: The admins e-mail address.
          example: john@acme.com
        billing_name:
          type: string
          description: The billing name.
          minLength: 2
        name:
          type: string
          description: The tenant organizations name.
          example: Acme Corporation
          minLength: 3
          maxLength: 50
        afid:
          description: The tenants affiliate id.
          example: 65159479ae650bdb53001438
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        address:
          type: string
          description: The tenant organizations address.
          example: 123 Main St, Anytown, USA
          minLength: 8
          maxLength: 50
        city:
          type: string
          description: The tenant organizations city.
          minLength: 3
          maxLength: 50
        state:
          type: string
          description: The tenant organizations state.
          minLength: 2
          maxLength: 50
        country:
          type: string
          description: The tenant organizations country.
          minLength: 2
        postal_code:
          type: string
          description: The tenant organizations postal code.
          minLength: 5
          maxLength: 10
        phone:
          type: string
          description: The tenant organizations phone number.
          example: (123) 456-7890
          minLength: 9
          maxLength: 10
        plan_id:
          description: The tanant organizations plan.
          example: free
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        stripe_customer_id:
          type: string
          description: The tenant organizations stripe customer id.
          example: cus_1234567890
        stripe_subscription_id:
          type: string
          description: The tenant organizations stripe subscription id.
          example: sub_1234567890
        stripe_price_id:
          type: string
          description: The tenant organizations stripe price id.
          example: price_1234567890
        billing_cycle_anchor:
          format: date-time
          type: string
          description: The billing cycle anchor.
        billing_period_start:
          format: date-time
          type: string
          description: The billing period start.
        billing_card_type:
          type: string
          description: The tenant organizations billing card type.
        billing_card_last4:
          type: string
          description: The tenant organizations billing card last 4 digits.
        is_privileged:
          type: boolean
          description: The tanant has privileged access.
          example: true
        last_warning_sent_date:
          format: date-time
          type: string
        last_limit_sent_date:
          format: date-time
          type: string
      required:
        - admin_first_name
        - admin_last_name
        - admin_email
        - name
        - afid
        - address
        - city
        - state
        - country
        - postal_code
        - phone
        - plan_id
        - stripe_customer_id
        - stripe_subscription_id
        - stripe_price_id
        - is_privileged
    CreateTenantResponseDto:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
          description: The tenant organizations name.
          example: Acme Corporation
          minLength: 3
          maxLength: 50
        afid:
          description: The tenants affiliate id.
          example: 65159479ae650bdb53001438
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        address:
          type: string
          description: The tenant organizations address.
          example: 123 Main St, Anytown, USA
          minLength: 8
          maxLength: 50
        city:
          type: string
          description: The tenant organizations city.
          minLength: 3
          maxLength: 50
        state:
          type: string
          description: The tenant organizations state.
          minLength: 2
          maxLength: 50
        country:
          type: string
          description: The tenant organizations country.
          minLength: 2
        postal_code:
          type: string
          description: The tenant organizations postal code.
          minLength: 5
          maxLength: 10
        phone:
          type: string
          description: The tenant organizations phone number.
          example: (123) 456-7890
          minLength: 9
          maxLength: 10
        plan_id:
          description: The tanant organizations plan.
          example: free
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        stripe_customer_id:
          type: string
          description: The tenant organizations stripe customer id.
          example: cus_1234567890
        stripe_subscription_id:
          type: string
          description: The tenant organizations stripe subscription id.
          example: sub_1234567890
        stripe_price_id:
          type: string
          description: The tenant organizations stripe price id.
          example: price_1234567890
        billing_cycle_anchor:
          format: date-time
          type: string
          description: The billing cycle anchor.
        billing_period_start:
          format: date-time
          type: string
          description: The billing period start.
        billing_card_type:
          type: string
          description: The tenant organizations billing card type.
        billing_card_last4:
          type: string
          description: The tenant organizations billing card last 4 digits.
        is_privileged:
          type: boolean
          description: The tanant has privileged access.
          example: true
        last_warning_sent_date:
          format: date-time
          type: string
        last_limit_sent_date:
          format: date-time
          type: string
      required:
        - _id
        - name
        - afid
        - address
        - city
        - state
        - country
        - postal_code
        - phone
        - plan_id
        - stripe_customer_id
        - stripe_subscription_id
        - stripe_price_id
        - is_privileged
    TenantDto:
      type: object
      properties:
        name:
          type: string
          description: The tenant organizations name.
          example: Acme Corporation
          minLength: 3
          maxLength: 50
        afid:
          description: The tenants affiliate id.
          example: 65159479ae650bdb53001438
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        address:
          type: string
          description: The tenant organizations address.
          example: 123 Main St, Anytown, USA
          minLength: 8
          maxLength: 50
        city:
          type: string
          description: The tenant organizations city.
          minLength: 3
          maxLength: 50
        state:
          type: string
          description: The tenant organizations state.
          minLength: 2
          maxLength: 50
        country:
          type: string
          description: The tenant organizations country.
          minLength: 2
        postal_code:
          type: string
          description: The tenant organizations postal code.
          minLength: 5
          maxLength: 10
        phone:
          type: string
          description: The tenant organizations phone number.
          example: (123) 456-7890
          minLength: 9
          maxLength: 10
        plan_id:
          description: The tanant organizations plan.
          example: free
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        stripe_customer_id:
          type: string
          description: The tenant organizations stripe customer id.
          example: cus_1234567890
        stripe_subscription_id:
          type: string
          description: The tenant organizations stripe subscription id.
          example: sub_1234567890
        stripe_price_id:
          type: string
          description: The tenant organizations stripe price id.
          example: price_1234567890
        billing_cycle_anchor:
          format: date-time
          type: string
          description: The billing cycle anchor.
        billing_period_start:
          format: date-time
          type: string
          description: The billing period start.
        billing_card_type:
          type: string
          description: The tenant organizations billing card type.
        billing_card_last4:
          type: string
          description: The tenant organizations billing card last 4 digits.
        is_privileged:
          type: boolean
          description: The tanant has privileged access.
          example: true
        last_warning_sent_date:
          format: date-time
          type: string
        last_limit_sent_date:
          format: date-time
          type: string
      required:
        - name
        - afid
        - address
        - city
        - state
        - country
        - postal_code
        - phone
        - plan_id
        - stripe_customer_id
        - stripe_subscription_id
        - stripe_price_id
        - is_privileged
    pageableResponse:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/AppletDto'
        pagination:
          type: object
          properties:
            count:
              required: true
              type: number
            pages:
              required: true
              type: number
            starting:
              required: true
              type: number
            ending:
              required: true
              type: number
            previous:
              required: true
              type: boolean
            next:
              required: true
              type: boolean
      required:
        - records
        - pagination
    AccessKeysResponseDto:
      type: object
      properties:
        api_key:
          type: string
        api_secret:
          type: string
      required:
        - api_key
        - api_secret
    ManageAccessKeysRequestDto:
      type: object
      properties:
        action:
          type: string
          description: |-
            Whether you want to generate/reset, or delete the existing keys.
            The value must be either 'generate' or 'delete'.
          example: generate
          enum:
            - generate
            - revoke
      required:
        - action
    UpdateTenantRequestDto:
      type: object
      properties:
        name:
          type: string
          description: The tenant organizations name.
          example: Acme Corporation
          minLength: 3
          maxLength: 50
        afid:
          description: The tenants affiliate id.
          example: 65159479ae650bdb53001438
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        address:
          type: string
          description: The tenant organizations address.
          example: 123 Main St, Anytown, USA
          minLength: 8
          maxLength: 50
        city:
          type: string
          description: The tenant organizations city.
          minLength: 3
          maxLength: 50
        state:
          type: string
          description: The tenant organizations state.
          minLength: 2
          maxLength: 50
        country:
          type: string
          description: The tenant organizations country.
          minLength: 2
        postal_code:
          type: string
          description: The tenant organizations postal code.
          minLength: 5
          maxLength: 10
        phone:
          type: string
          description: The tenant organizations phone number.
          example: (123) 456-7890
          minLength: 9
          maxLength: 10
        plan_id:
          description: The tanant organizations plan.
          example: free
          allOf:
            - $ref: '#/components/schemas/ObjectId'
        stripe_customer_id:
          type: string
          description: The tenant organizations stripe customer id.
          example: cus_1234567890
        stripe_subscription_id:
          type: string
          description: The tenant organizations stripe subscription id.
          example: sub_1234567890
        stripe_price_id:
          type: string
[...]
